<footer class="footer">
    <div class="container">
        <div class="footer_top">
            <div class="footer_top-inner">
                <div class="footer_top-item footer_top-newsletter">
                    <h6 class="footer_top-title">
                        Subscribe to our newsletter and learn about promotions faster
                    </h6>
                    <form class="footer-form" action="">
                        <input class="footer-form_input" type="text" placeholder="Input your email">
                        <button class="submit footer-form_btn">Submit</button>
                    </form>
                </div>
                <div class="footer_top-item">
                    <h6 class="footer_top-title footer_top-drop">
                        Information
                    </h6>
                    <ul class="footer-list">
                        <li class="footer-list_item">
                            <a href="#">About company</a>
                        </li>
                        <li class="footer-list_item">
                            <a href="#">Contacts</a>
                        </li>
                        <li class="footer-list_item">
                            <a href="#">Promotions</a>
                        </li>
                        <li class="footer-list_item">
                            <a href="#">Shops</a>
                        </li>
                    </ul>
                </div>
                <div class="footer_top-item">
                    <h6 class="footer_top-title footer_top-drop">
                        Online store
                    </h6>

                    <ul class="footer-list">
                        <li class="footer-list_item">
                            <a href="#">Delivery and pickup</a>
                        </li>
                        <li class="footer-list_item">
                            <a href="#">Payment</a>
                        </li>
                        <li class="footer-list_item">
                            <a href="#">Return-Exchange</a>
                        </li>
                        <li class="footer-list_item">
                            <a class="btn btn-primary" href="#">News</a>
                        </li>
                    </ul>

                </div>
                <div class="footer_top-item footer_top-social">
                    <ul class="social-list">
                        <li class="social-list_item">
                            <a href="https://www.facebook.com/profile.php?id=100010815976516">
                                <i class="fab fa-facebook social-list_icon"></i>
                            </a>
                        </li>
                        <li class="social-list_item">
                            <a href="#">
                                <i class="fab fa-google-plus social-list_icon"></i>
                            </a>
                        </li>
                        <li class="social-list_item">
                            <a href="https://github.com/funn1k1">
                                <i class="fab fa-github social-list_icon"></i>
                            </a>
                        </li>
                        <li class="social-list_item">
                            <a href="https://t.me/x_unity">
                                <i class="fab fa-telegram social-list_icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <a class="footer_bottom-link" href="#">
                Contract offer
            </a>
            <a class="footer_bottom-link" href="#">
                Personal data processing policy
            </a>
        </div>
    </div>
</footer>