<header class="header">
    <div class="header_top">
        <div class="container">
            <div class="header_top-inner">
                <nav class="menu">
                    <button class="menu_btn">
                        <div class="menu_btn-line"></div>
                        <div class="menu_btn-line"></div>
                        <div class="menu_btn-line"></div>
                    </button>
                    <ul class="menu_list">
                        <li class="menu_item">
                            <a href="#" class="menu_link">
                                Shops
                            </a>
                        </li>
                        <li class="menu_item">
                            <a href="#" class="menu_link">
                                Stocks
                            </a>
                        </li>
                        <li class="menu_item">
                            <a href="#" class="menu_link">
                                Shipping & Payment
                            </a>
                        </li>
                    </ul>
                </nav>
                <a class="logo" href="#">
                    <img class="logo_img" src="~/images/shop-icon-png-5.jpg" width="100px" height="100px" alt="">
                </a>
                <div class="header_box">
                    <p class="header_address">
                        <i class="fas fa-map-marker-alt"></i>
                        60 Jefferson St. Brooklyn, NY 11218
                    </p>
                    <ul class="user-list">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="user-list_item">
                                <a asp-controller="Admin" asp-action="Index" class="user-list_link">Hi, @User.Identity.Name!</a>
                            </li>
                        }
                        <li class="user-list_item">
                            <a asp-controller="Favorite" asp-action="Index" class="user-list_link">
                                <i class="fas fa-heart"></i>
                            </a>
                        </li>
                        <li class="user-list_item">
                            <a asp-controller="Admin" asp-action="Index" class="user-list_link">
                                <i class="fas fa-user-circle"></i>
                            </a>
                        </li>
                        <li class="user-list_item">
                            <a asp-controller="Orders" asp-action="Index" class="user-list_link">
                                <i class="fas fa-clipboard-list"></i>
                            </a>
                        </li>
                        <li class="user-list_item">
                            <div href="" class="user-list_link cart">
                                <a asp-controller="Cart" asp-action="Index" class="fas fa-shopping-cart"></a>
                                @{
                                    int count = ShoppingCartModel.Count ?? 0;
                                }
                                <p class="cart_num">@count</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <ul class="menu-mobile_list">
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <i class="fas fa-user-circle"></i>
                <p>Sign In</p>
            </a>
        </li>
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <i class="fas fa-user-circle"></i>
                <p>Registration</p>
            </a>
        </li>
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <i class="fas fa-heart"></i>
                <p>Favorites</p>
            </a>
        </li>
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <i class="fas fa-shopping-cart"></i>
                <p>Cart</p>
            </a>
        </li>
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <i class="fas fa-store-alt"></i>
                <p>Shops</p>
            </a>
        </li>
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <i class="fas fa-percent"></i>
                <p>Shares</p>
            </a>
        </li>
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <i class="fas fa-shipping-fast"></i>
                <p>Shipping and payment</p>
            </a>
        </li>
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <p>Electronics</p>
            </a>
        </li>
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <p>Computers</p>
            </a>
        </li>
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <p>Accessories</p>
            </a>
        </li>
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <p>Software</p>
            </a>
        </li>
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <p>Arts</p>
            </a>
        </li>
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <p>Games</p>
            </a>
        </li>
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <p>Movies</p>
            </a>
        </li>
        <li class="menu-mobile_item">
            <a class="menu-mobile_link" href="#">
                <p>Books</p>
            </a>
        </li>
    </ul>

    <div class="menu_mobile-linewrapper">
        <ul class="menu_mobile-line">
            <li class="menu_item">
                <a class="menu_link" href="#">
                    Shops
                </a>
            </li>
            <li class="menu_item">
                <a class="menu_link" href="#">
                    Shares
                </a>
            </li>
            <li class="menu_item">
                <a class="menu_link" href="#">
                    Shipping and payment
                </a>
            </li>
        </ul>
    </div>

    <div class="header_bottom">
        <div class="container">
            <ul class="menu-categories">
                <li class="menu-categories_item">
                    <a asp-controller="Catalog" asp-action="Index" class="menu-categories_link">
                        Electronics
                    </a>
                </li>
                <li class="menu-categories_item">
                    <a asp-controller="Catalog" asp-action="Index" class="menu-categories_link">
                        Computers
                    </a>
                </li>
                <li class="menu-categories_item">
                    <a asp-controller="Catalog" asp-action="Index" class="menu-categories_link">
                        Accessories
                    </a>
                </li>
                <li class="menu-categories_item">
                    <a asp-controller="Catalog" asp-action="Index" class="menu-categories_link">
                        Software
                    </a>
                </li>
                <li class="menu-categories_item">
                    <a asp-controller="Catalog" asp-action="Index" class="menu-categories_link">
                        Arts
                    </a>
                </li>
                <li class="menu-categories_item">
                    <a asp-controller="Catalog" asp-action="Index" class="menu-categories_link">
                        Games
                    </a>
                </li>
                <li class="menu-categories_item">
                    <a asp-controller="Catalog" asp-action="Index" class="menu-categories_link">
                        Movies
                    </a>
                </li>
                <li class="menu-categories_item">
                    <a asp-controller="Catalog" asp-action="Index" class="menu-categories_link">
                        Books
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>