<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/cart.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/style.css">
<style>
    a:hover {
        text-decoration: none;
    }
</style>
<div class="container">
    <div class="text-center">
        <h1 class="display-3">Thank You!</h1>
        <hr>
        <p>
            Having trouble? <a href="">Contact us</a>
        </p>
        <p>
            Your order has been moved to history <a asp-controller="Orders" asp-action="Index">Orders</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Index" role="button">Continue to homepage</a>
        </p>
    </div>
</div>
